<!DOCTYPE html>
<html lang="en">

<head>
  <title>Story Creator</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/storyPage.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_nav') %>
  <main>
    <div class="story-overview">
    <h1 class="story-title"> <%= storyData.title %> </h1>
    <p class="story-author"> By <%= storyData.name %> </p>
    <!-- Dynamically render story body separated into paragraphs -->
    <div class="story-content">
      <% for (const paragraph of storyData.bodyParagraphs) { %>
        <p class="story-body"> <%= paragraph %> </p>
      <% } %>
    </div>
    <!-- Render Complete button if story status is true AND logged in user is story creator -->
    <div class="complete-status">
    <% if (storyData.status && storyData.user_id === userData.id) { %>
      <div class="complete-button">
      <a href="#" class="complete-clicker" data-story-id="<%= storyData.id %>"><p>Complete</p></a>
    </div>
    <% } %>
    <p class="story-status"> Status: <%= storyData.status ? "Open" : "Closed" %> </p>
  </div>
</div>
  <!-- Render contribution box if story status is true -->
  <% if (storyData.status) { %>
    <div class="new-contribution">
      <div class="contributions-title"> Add a Contribution </div>
      <form action="/api/contributions/<%= storyData.id %>" method="post">
        <textarea name="newContribution" id="newContribution" cols="30" rows="10" placeholder="Contribution"></textarea>
        <div>
        <input type="submit" value="Submit">
      </div>
    </div>
  <% } %>
  <div class="contributions">
  <div class="contributions-title"> Contributions </div>
  <% for (let i = 0; i < contData.length; i++) { %>
    <!-- Display a contribution only if it hasn't yet been accepted by story creator -->
    <% if (!contData[i].accepted) { %>
      <div class="contribution">
        <div class="contribution-content">
          <% for (const paragraph of contData[i].bodyParagraphs) { %>
            <p class="contribution-body"> <%= paragraph %> </p>
          <% } %>
        </div>
        <p class="contribution-author"> By <%= contData[i].name %> </p>
        <!-- Display Accept button if current user is story creator -->
        <div class="contribution-footer">
        <% if (userData.id === storyData.user_id) { %>
          <a href="#" class="accept-clicker" data-story-id="<%= storyData.id %>" data-contribution-body="<%= contData[i].body %>" data-contribution-id="<%= contData[i].id %>"><h1 class="contribution-accept"> Accept </h1></a>
        <% } %>
        <p class="contribution-accepted"> <%= contData[i].accepted %> </p>
        <!-- Only display Like button if user is logged in -->
        <% if (userData.id) { %>
          <% let test = false; %>
          <% for (let k = 0; k < voteData.length; k++) { %>
            <% if (voteData[k].contribution_id === contData[i].id) { %>
              <% test = true; %>
            <% }  %>
            <% } %>
            <% if (test === true) { %>
              <a href="" class="contribution-clicker" data-contribution-id="<%= contData[i].id %>" data-voter-id="<%= userData.id %>"><h1 class="contribution-like">
                Liked
                <% test = false; %>
              </h1></a>
              <% } else { %>
                <div class="like-button-count">
              <a href="" class="contribution-clicker" data-contribution-id="<%= contData[i].id %>" data-voter-id="<%= userData.id %>"><h1 class="contribution-like">
                Like
              </h1></a>
              <% } %>
        <% } %>
        <h1 class="contribution-votes"> Likes: <%= contData[i].vote_count %> </h1>
      </div>
      </div>
    <% } %>
  <% }; %>
  </div>
</div>
  </main>
</body>
</html>
